<!-- Open Graph Meta Tags -->
<meta property="fb:app_id" content="1241631050257914" />
<meta property="og:title" content="{{ page.title | escape }}">
<meta property="og:description" content="В {{ page.start_time }} в рубрике «{{ page.section }}» {{ page.excerpt | strip_html }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/covers/{{ page.permalink | replace: '/hours/', '' }}.png">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="music.song">
<meta property="og:audio:type" content="audio/mpeg">
<meta property="og:audio" content="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ page.permalink | replace: '/hours/', '' }}.mp3">
<meta property="og:audio" content="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ page.permalink | replace: '/hours/', '' }}.m4a">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Add Instant Article meta tags -->
<meta property="ia:markup_url" content="{{ site.url }}{{ page.url }}" />
<meta property="ia:markup_url_dev" content="{{ site.url }}/dev{{ page.url }}" />
<meta property="ia:rules_url" content="{{ site.url }}/rules" />
<meta property="ia:rules_url_dev" content="{{ site.url }}/dev/rules" />

<!-- Open Graph: Image Alt -->
<meta property="og:image:alt" content="{{ page.title | escape }}" />

<!-- Twitter Card Meta Tags (for X) -->
<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="{{ page.title | escape }}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/covers/{{ page.permalink | replace: '/hours/', '' }}.png" />
<meta name="twitter:player" content="{{ site.url }}{{ site.baseurl }}/player.html?track={{ page.permalink | replace: '/hours/', '' }}.mp3" />
<meta name="twitter:player:width" content="640" />
<meta name="twitter:player:height" content="90" />
<meta name="twitter:player:stream" content="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ page.permalink | replace: '/hours/', '' }}.mp3" />
<meta name="twitter:site" content="@indexmod_efir" />

<!-- General Meta Tags for SEO -->
<meta name="description" content="{{ page.excerpt | strip_html }}">
<meta name="keywords" content="{{ page.keywords | join: ', ' }}">
<meta name="robots" content="index, follow">

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.url | absolute_url }}">
