<div id="share-buttons">
  Поделиться <span class="special-arrow">↝</span>
  <a style="all: unset; display: inline;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.permalink }}&title={{ page.title }}&description={{ page.excerpt | strip_html }}&picture={{ site.url }}/assets/covers/{{ page.permalink }}.png"
     target="_blank"
     title="Поделиться {{ page.title }}">
    <i class="fab fa-facebook"></i>
  </a>
  <a style="all: unset; display: inline;" href="https://t.me/share/url?url={{ site.url }}{{ page.permalink }}&text=&picture={{ site.url }}/assets/covers/{{ page.permalink }}.png"
     target="_blank"
     title="Поделиться {{ page.title }}">
    <i class="fab fa-telegram"></i>
  </a>
  <a style="all: unset; display: inline;"
     href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.permalink }}&text={{ page.title }}&via=indexmod_efir"
     target="_blank"
     title="Поделиться {{ page.title }} в X">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="17" height="17" fill="currentColor">
      <path d="M3.17 2h5.66L12 6.07 15.17 2h5.66L14.13 10l6.54 12h-5.66L12 14.12 8.99 22H3.33L9.87 10 3.17 2Z"/>
    </svg>
  </a>


</div>
