<script>
document.addEventListener("DOMContentLoaded", () => {
  const scheduleItems = document.querySelectorAll(".schedule-item");
  let currentIndex = 0;

  // Функция для отображения текущего элемента
  function showCurrentItem() {
    // Скрываем все элементы и добавляем класс анимации к текущему элементу
    scheduleItems.forEach((item, index) => {
      if (index === currentIndex) {
        item.style.display = "flex";
        item.classList.add("fade-in");
      } else {
        item.style.display = "none";
        item.classList.remove("fade-in");
      }
    });

    // Переходим к следующему элементу
    currentIndex = (currentIndex + 1) % scheduleItems.length;
  }

  // Запускаем анимацию через каждые 5 секунд
  if (scheduleItems.length > 0) {
    showCurrentItem();
    setInterval(showCurrentItem, 5000);
  }
});
</script>

<style>

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

<!-- Список расписания -->
<div class="rotating-text-container">
  <ul class="schedule-list">
    {% assign current_hour = site.time | date: "%H" | plus: 0 %}

    <!-- Первая группа: от текущего часа + 1 до 23 -->
    {% assign later_hours = site.hours | where: "layout", "hour" | sort: "start_time" %}
    {% for page in later_hours %}
      {% assign page_hour = page.start_time | split: ":" | first | plus: 0 %}
      {% if page_hour > current_hour %}
        <li class="schedule-item">
          <span>Далее</span>
          <span>{{ page.start_time }}</span>
          <span>{{ page.section }}</span>
          <span style="border-radius: 5px; overflow: hidden; display: inline-block;">
              <img src="/assets/covers/{{ page.permalink | remove: '/hours/' }}.png" width="20" height="20" alt="Cover" style="border-radius: 5px;">
          </span>
          <span>«{{ page.title }}»</span>
        </li>
      {% endif %}
    {% endfor %}

    <!-- Вторая группа: от 00 до текущего часа -->
    {% for page in later_hours %}
      {% assign page_hour = page.start_time | split: ":" | first | plus: 0 %}
      {% if page_hour <= current_hour %}
        <li class="schedule-item">
          <span>Завтра</span>
          <span>{{ page.start_time }}</span>
          <span>{{ page.section }}</span>
          <span style="border-radius: 5px; overflow: hidden; display: inline-block;">
              <img src="/assets/covers/{{ page.permalink | remove: '/hours/' }}.png" width="20" height="20" alt="Cover" style="border-radius: 5px;">
          </span>
          <span>«{{ page.title }}»</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
